<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.example.chatrealtimetracking">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature android:name="android.hardware.camera"
                  android:required="true"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-feature android:name="android.hardware.camera.flash"/>

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme" tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">

        </activity>

        <activity
                android:name="com.example.chatrealtimetracking.fragment.tracking.TrackingPesanan"
                android:label="@string/title_activity_tracking_pesanan">

        </activity>
        <activity
                android:name="com.example.chatrealtimetracking.signUp.SignUp"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity
                android:name="com.example.chatrealtimetracking.signIn.SignIn"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.example.chatrealtimetracking.detail.DetailChat"/>
        <activity
                android:name="com.example.chatrealtimetracking.Main2Activity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar"/>


        <activity android:name="com.example.chatrealtimetracking.splash.Splash">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="com.example.chatrealtimetracking.fileprovider"
                android:exported="false"
                android:enabled="true"
                android:grantUriPermissions="true">

            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths"/>
        </provider>

    </application>

</manifest>